.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.rev-select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 220px;
  height: 40px;
}
.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ff185d;
  padding: 8px 15px;  
}

.select-styled::after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}

.select-styled:hover {
  background-color: #ff185d;
}

.select-styled:active,
.select-styled.active {
  background-color: #ff185d;
}

.select-styled.active::after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ff185d;
}

.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #ff185d;  
}

.select-options li:hover {
  color: #ff185d;
  background: #fff;
}

.select-options li[rel="hide"] {
  display: none;
}
